/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body {
    font-family: 'Fredoka One', sans-serif;
    background-color: rgb(105, 125, 240);
}

.container1 {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
}


.container2 {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(173, 120, 120);
    border-radius: 15%;
}

.py-3 {
    padding: 3rem 0;
}

.mb-2 {
    margin-bottom: 2rem;
}

.text-centered {
    text-align: center;
}

.section-title {
    color: rgb(42, 50, 167);
    margin-bottom: 1em;
}

.row {
    border: 2px solid red;
    margin-top: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    border: 2px solid yellow;
    float: left;
    width: calc(100% / 3 - 40px);
    margin: 0 20px;
}

.card {
    background-color: ;
}

.card img {
    width: 100%;
    float: left;
}

img {
    max-width: 100%;
    float: left;
}

.card-title {
    width: calc(100% - 100px);
    float: left;
    text-transform: uppercase;
    margin-bottom: .3rem;

}

.card-job {
    width: calc(100% - 100px);
    float: left;
    margin-bottom: .3rem;
}

